<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost/WcfBdService/Service1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
        contract="WcfBD.IService1" name="BasicHttpBinding_IService1" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="IncludeExceptionDetails">
          <callbackDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="Teste.InboundMessageHandlerService">
        <endpoint address="msmq.FormatName:Direct=OS:.\private$\TextQueue"
          binding="msmqIntegrationBinding" bindingConfiguration="IncomingMessageHandlerBinding"
          contract="Teste.IInboundMessageHandlerService" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
      <msmqIntegrationBinding>
        <binding name="IncomingMessageHandlerBinding" closeTimeout="00:30:00"
          receiveTimeout="01:00:00" exactlyOnce="false" maxRetryCycles="5"
          receiveErrorHandling="Move" receiveRetryCount="5" retryCycleDelay="00:00:10">
          <security mode="None" />
        </binding>
      </msmqIntegrationBinding>
    </bindings>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>